features/lfocc/features/statement/ConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="StatementConfiguration"><xsd:complexType><xsd:sequence>

		<xsd:element name="Assignment" type="xsd:boolean" />
		<xsd:element name="Codeblock" type="xsd:boolean" />

	</xsd:sequence></xsd:complexType></xsd:element>

</xsd:schema>