features/lfocc/features/samplefeature/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="SampleFeature"><xsd:complexType><xsd:sequence>

		<xsd:element name="option1" type="xsd:string" />
		<xsd:element name="option2" type="xsd:string" />
		<xsd:element name="option3" type="xsd:string" />
		<xsd:element name="option4" type="xsd:string" />

	</xsd:sequence></xsd:complexType></xsd:element>

</xsd:schema>