configs/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="LanguageConfiguration"><xsd:complexType><xsd:sequence>

		<xsd:element name="name" type="xsd:string" />
		
		<xsd:element name="feature" maxOccurs="unbounded"><xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" />
			<xsd:attribute name="config" type="xsd:string" use="optional" />
		</xsd:complexType></xsd:element>

	</xsd:sequence></xsd:complexType></xsd:element>

</xsd:schema>